.NavigationItems{
    list-style: none;
    text-align: center;
    display: flex;
    font-weight: 400;
    flex: 1 0 100%;
    flex-direction: row;
    align-items: center;
    position: relative;
}